* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: sans-serif;
    --main-color: #be2835;
    --secondary-color: #f6f6f6;
}

p {
    letter-spacing: 0.5px;
    line-height: 30px;
}

h1 {
    font-size: 4rem;
    /* animation: type 3s steps(23);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    padding-right: 2px;
    text-align: right; */
}


/* @keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 23ch;
    }
} */

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    /* opacity: 0.7; */
}

.header {
    flex-basis: 1300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    flex-grow: 1;
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav a:hover {
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

header .fa {
    display: none;
    transform: scale(2);
}

.header button {
    background-color: transparent;
    outline: none;
    border: none;
    display: block;
    margin-right: 20px;
}

.show {
    display: block;
}

.opening {
    padding-top: 60px;
    background: url('../img/opening-img.jpg') top no-repeat;
    background-size: cover;
    height: 100vh;
}

.opening-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.welcome {
    text-align: right;
    display: block;
    width: 100%;
    margin-right: 200px;
}

.btn-resume {
    font-size: 1.2rem;
    margin-top: 25px;
}

.section {
    padding: 6% 15%;
}

.flex-container {
    flex-direction: row;
    display: flex;
    padding: 50px 0;
}

.right {
    padding-left: 10%;
    font-size: 1.2rem;
}

.right p {
    line-height: 40px;
}

.projects {
    background-color: lightgray;
}

.prj-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
}

.item {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.thumbnail {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.thumbnail:hover {
    cursor: pointer;
}

.prj-name {
    padding: 20px 10px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 40px 20px;
    border: 1px solid #888;
    width: 50%;
}

.animate {
    animation: animatezoom-out 0.6s;
}

@keyframes animatezoom-out {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

h3 {
    text-align: center;
}

.overview {
    padding-top: 30px;
    display: flex;
}

.overview-left,
.overview-right {
    width: 50%;
}

.overview-left img {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.button-nav {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: var(--main-color);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 10px 20px;
    transition: ease 0.6s;
    border-radius: 10px;
    outline: none;
}


/* .btn:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
} */

.overview-right {
    padding-left: 30px;
}

.overview-right p {
    padding-bottom: 10px;
}


/* .overview-right ul {
    margin-top: 20px;
} */

.overview-right li {
    display: inline-block;
    margin-right: 5px;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 14px;
}

.overview ul {
    margin-top: 15px;
}

.contact {
    background-color: lightgray;
}

.skills-container {
    padding: 50px 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
}

.skills-container p {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.contact p {
    padding: 50px 0 30px;
}

.social-container {
    padding-bottom: 50px;
}

.social-container i {
    font-size: 40px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px;
    border-radius: 20%;
    margin-right: 20px;
}

.footer {
    background-color: black;
    color: white;
}


/*tablet*/

@media only screen and (max-width: 960px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    nav {
        margin: 0 30px
    }
    .welcome {
        text-align: center;
        margin-right: 0;
    }
    .prj-container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    .overview {
        flex-direction: column;
    }
    .overview-left,
    .overview-right {
        width: 100%;
    }
    .overview-right {
        padding: 0;
    }
    .modal-content {
        width: 80%;
    }
}


/* phone */

@media only screen and (max-width: 767px) {
    nav ul {
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
        display: none;
    }
    nav li {
        display: block;
        margin-left: 0;
        padding: 10px 40px;
    }
    .header i {
        display: block;
    }
    .flex-container {
        flex-direction: column;
    }
    .left {
        text-align: center;
        margin-bottom: 25px;
    }
    .right {
        padding-left: 0;
    }
    .prj-container {
        grid-auto-flow: row;
        grid-template: none;
    }
    .btn-resume {
        display: block;
        margin: 25px auto 0;
    }
}